{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"Suspending the Following Auto Scaling Groups",
         "color":"danger",
         "fields":[
            {
               "title":"Account: {{ account }} | Region: {{ region }}",
               "value":"{%- for resource in resources -%}
                        {{ resource_tag(resource, "Customer") }} ({{ resource_tag(resource, "Environment") }}):
                          Name: {{ resource.autoScalingGroupName }}
                        {%- endfor -%}"
            }
         ]
      }
   ],
   {%- if not recipient.startswith('https://') %}
   "channel":"{{ recipient }}",
   {%- endif -%}
   "username":"Custodian"
}
