# Cloud Custodian Policy Files
custodian-*-policy.yml

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Crash log files
crash.log

# venv
custodian

# Secrets
.secrets
